<div *ngIf="identity" class="navigation col-lg-1">
  <h1>{{title}}</h1>
  <button (click)="logoutUser()" class="btn btn-danger"> Logout <i class="fa fa-sign-out-alt"></i></button>
  <p>Estas logueado en la aplicacion</p>
</div>
<div class="clearfix"></div>
<div *ngIf="identity" class="central col-lg-11">
</div>

<div *ngIf="!identity" class="col col-lg-12 row">
  <div class="col col-lg-6">
    <h2>
    	<i class="fa fa-id-card"></i>
    	Login
	</h2>
    <div *ngIf="errorMessage">
        <div class="alert alert-info" role="alert">
          {{errorMessage}}
        </div>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    	<div class="form-group">
    		<label for="">Email</label>
    		<input type="email" class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email" required>
    		<span *ngIf="!email.valid && email.touched">
    			Email required
    		</span>
    	</div>
    	<div class="form-group">
    		<label for="">Password</label>
    		<input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="user.password" required>
    	</div>
    	<button class="btn btn-primary" type="submit">
    		Login 
			<i class="fa fa-sign-in-alt"></i>
    	</button>
    </form>
  </div>
  <div class="col col-lg-6">
    <h2>
    	<i class="fa fa-file-signature"></i>
    	Create your account
    </h2>
    <form action="">
    	<div class="form-group">
    		<label for="">Name</label>
    		<input type="text" class="form-control" required="">
    	</div>
    	<div class="form-group">
    		<label for="">Username</label>
    		<input type="text" class="form-control" required>
    	</div>
    	<div class="form-group">
    		<label for="">Email</label>
    		<input type="text" class="form-control" required>
    	</div>
    	<div class="form-group">
    		<label for="">Password</label>
    		<input type="password" class="form-control" required>
    	</div>
		<button class="btn btn-success" type="submit">
			Create account 
			<i class="fa fa-user-plus"></i>
		</button>
    </form>
  </div>
</div>