<div class="col-lg-8 col-lg-offset-2">
  <h2>Artists</h2>
  <a [routerLink]="['/add-artist']" class="btn btn-default" *ngIf="identity && identity.role == 'ROLE_USER'">
    <i class="fa fa-plus"></i>
    Register Artist
  </a>
</div>
<div class="clearfix">
</div>
<div class="row" *ngIf="identity">
  <nav aria-label="Page navigation">
    <ul class="pagination pull-right">
      <li>
        <a [routerLink]="['/artists', prev_page]" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/artists', next_page]" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="clearfix"></div>
  <div class="col-sm-6 col-md-4" *ngFor="let artist of artists">
    <div class="thumbnail">
      <img [src]="loadPicture(artist.image)" *ngIf="artist.image != 'null'" alt="image" width="100px">
      <div class="caption">
        <h3>{{artist.name}}</h3>
        <p>{{artist.description}}</p>
        <a class="text-info" [routerLink]="['/detail-artist',artist._id]">See details about this artist</a>
        <p *ngIf="identity.role == 'ROLE_USER'">
          <a [routerLink]="['/edit-artist',artist._id]" class="btn btn-warning" role="button">Edit <i class="fa fa-edit"></i></a>
          <a (click)="onRemoveConfirm(artist._id)" class="btn btn-danger" role="button">Remove <i class="fa fa-trash"></i></a>
        </p>
      </div>
      <div  *ngIf="confirm == artist._id">
        <a (click)="onRemoveArtist(artist._id)" class="btn btn-sm btn-danger">Remove <i class="fa fa-check"></i></a>
        <a (click)="cancelRemove()" class="btn btn-sm btn-default">Cancel <i class="fa fa-times"></i></a>
      </div>
    </div>
  </div>

</div>
